<?php return <<<MARKUP

<form method="GET" action="search.php">
<div class="header" id="header">
<h1><a href="/">GASH: FOGIES</a></h1>
<span class="sbox">
<input type="text" name="q" value="{$query}">
<input type="submit" name="submit" value="Go">
</span>
<ul class="nav">
<li><a href="/">Home</a></li>
<li><a href="/page.php">List</a></li>
<li><a href="/tags.php">Tags</a></li>
<li><a href="/recent.php">Recent</a></li>
<li><a href="/messages.php">Mailbox</a></li>
<li><a href="/people.php">People</a></li>
<li><a href="/events.php">Events</a></li>
<li><a href="/status.php">Statuses</a></li>
<li><a href="/reg.php">Register</a></li>
<!--
<li><a href="">My Page</a></li>
//-->
<li>
</ul>
</div>
</form>

MARKUP;
?>
